<form [formGroup]="discountRule" (ngSubmit)="onSubmit()">
  <span>
    Discount Percentage
    <input type="number" formControlName="discountPercentage">
  </span>
  <span>
    Discount Amount
    <input type="number" formControlName="discountAmount">
  </span>
  <div *ngIf="discountRule.errors?.discountError && (discountRule.touched || discountRule.dirty)"
    class="cross-validation-error-message alert alert-danger">
    Either you can have discount percentage or discount rule.
  </div>
  <button type="submit" [disabled]="!discountRule.valid">Submit Form</button>
</form>

<table border="1px solid red">
  <th>
    Form Valid
  </th>
  <tr>
    <td>
      {{discountRule.valid}}
    </td>
  </tr>
</table>